<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display: flex;">
        <div style="width: 200px; flex: 0 0 auto">
            {% block sidebar %}
            <h2>目录</h2>
            <p><a href="{% url 'index' %}">首页</a></p>
            <p><a href="{% url 'blogauthors' %}">博主列表</a></p>
            <p><a href="{% url 'blogcontents' %}">博文列表</a></p>
            {% endblock %}
        </div>
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>